{% extends 'base.html.twig' %}

{% block body %}
    <h1>Viewconfiguration</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ viewConfiguration.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ viewConfiguration.name }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ viewConfiguration.address }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('list',{'application_path': driver.applicationPath, 'entities_path': driver.entitiesPath }) }}">list</a>
        </li>
        <li>
            <a href="{{ path('list',{'application_path': driver.applicationPath, 'entities_path': driver.entitiesPath , 'id': viewConfiguration.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
