{% extends 'base.html.twig' %}

{% block body %}
    <h1>Productcategories list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Position</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for productCategory in productCategories %}
            <tr>
                <td><a href="{{ path('productcategory_show', { 'id': productCategory.id }) }}">{{ productCategory.id }}</a></td>
                <td>{{ productCategory.name }}</td>
                <td>{{ productCategory.position }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('productcategory_show', { 'id': productCategory.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('productcategory_edit', { 'id': productCategory.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('productcategory_new') }}">Create a new productCategory</a>
        </li>
    </ul>
{% endblock %}
