{% extends 'base.html.twig' %}

{% block body %}
    <h1>Productcategory creation</h1>
    {{dupa}}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('list',{'applicationPath': driver.applicationPath, 'entitiesPath': driver.entitiesPath }) }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
