{% extends 'base.html.twig' %}

{% block body %}

    <style>

        ul
        {
            list-style: outside none none;
            margin: 0;
            padding: 0;

        }
        .actions {
            list-style: outside none none;
            margin: 0;
            padding: 0;
            z-index: 2;
        }
    </style>    
    <h1 class='p-l-15'>Menuitems list</h1>
    {{ render(controller("tm_solution_prototype.entity_controller:editAction",{ 'request' : app.request ,'applicationPath': 'menu', 'entitiesPath': 'menu-item','action': 'edit','id': 4 })) }}
    {{ render(controller("tm_solution_prototype.entity_controller:newAction",{ 'request' : app.request ,'applicationPath': 'menu', 'entitiesPath': 'menu-item','action': 'new' })) }}
    {{ render(controller("tm_solution_prototype.entity_controller:filterAction",{ 'request' : app.request ,'applicationPath': 'menu', 'entitiesPath': 'menu-item','action': 'filter' })) }}
    {{ render(controller("tm_solution_prototype.entity_controller:listAction",{ 'request' : app.request,'applicationPath': 'menu', 'entitiesPath': 'menu-item','action': 'list' })) }}
    {{ render(controller("tm_solution_prototype.entity_controller:listAction",{ 'request' : app.request,'applicationPath': 'menu', 'entitiesPath': 'menu-item','action': 'list' })) }}
    {{ render(controller("tm_solution_prototype.entity_controller:listAction",{ 'request' : app.request,'applicationPath': 'menu', 'entitiesPath': 'menu-item','action': 'list' })) }}    
    {{ render(controller("tm_solution_prototype.entity_controller:editAction",{ 'request' : app.request ,'applicationPath': 'menu', 'entitiesPath': 'menu-item','action': 'edit','id': 5 })) }}
    
{% endblock %}
